  article {
    border-bottom: #AAA solid 1px;
    padding: 30px;
    min-height: 250px;

    h3 {
      margin-top: 0;
    }
}

  .pull-left {
    padding: 20px;
  }

  .node-teaser {
    margin-bottom: 30px;
  }

.special-article-1 {
  background-color: #f0f0f0;
}

.article-date {
  padding-bottom: 10px;
}

.navbar-default {
  background-color: #00b3ee;
  border: 0;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #0099cc;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}

.media-body h1 > a {
  color: #00b3ee;
  text-decoration: none;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

.views-exposed-form .views-exposed-widget {
  padding: 1em 0 0 !important;
}

div#edit-field-tags-tid-wrapper.views-exposed-widget.views-widget-filter-field_tags_tid {
  width: 100%;
}

#block-menu-menu-anonymous-user-menu {
  float: right;
}

#block-menu-menu-anonymous-user-menu .block-title {
  display: none;
}

#block-menu-menu-anonymous-user-menu ul > li > a {
  color: #fff;
  padding: 15px;
}

#block-menu-menu-anonymous-user-menu ul > li > a:hover,
#block-menu-menu-anonymous-user-menu ul > li > a:focus {
  background-color: #0099cc;
}

div#edit-keys-wrapper.views-exposed-widget.views-widget-filter-keys {
  width: 100%;
}

button#edit-reset.btn.btn-default.form-submit {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

